# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build

# db / local sqlite
*.db
*.db-journal
/prisma/dev.db

# env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo

.vercel
